<header>
    <a href="/">
        <h1>{{ site_title | raw }}</h1>
    </a>
    <div>
        <a href="/about/" class="hlink">A-Propos</a> &#8226; <a href="/projects/" class="hlink">Projets</a>
        <br>
        <i>{{ site_sub | raw }}</i>
    </div>
</header>
