/****************************/
/**/
/****************************/
body{
	margin: 0;
	font-family: Montserrat;
}
img{
	width: 100%;
}
#wrap{
	display: flex;
	position: relative;
}

/****************************/
/**/
/****************************/
#wrap #left-panel{
	position: fixed;
	z-index: 500;
	top: 0px;bottom: 0px;left: 0px;
	width: 300px;
	height: 100vh;
	background-color: #323232;
	z-index: 50;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.8);
	transition: all 350ms;
}
/**/
h1{
	font-size: 20px;
	background-color: #00E676;
	color: white;
	margin: 0;
	font-weight: bold;
	text-align: center;
	padding: 80px 0px;
	cursor: default;
}
h1 span{
	font-weight: lighter;
	font-size: 15px;
}
/**/
#active-users{
	background-color: white;
	border-radius: 3px;
	padding: 15px;
	width: calc(280px - 30px);
	margin: 30px auto;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}		
#active-users h3{
	font-size: 15px;
	text-align: center;
}
#active-users ul{
	font-size: 13px;
}
/**/
#disconnect{
	position: absolute;
	text-decoration: none;
	color: #424242;
	bottom: 20px;
	left: 0px;
	right: 0px;
	background-color: #00E676;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 25px auto;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	transition: all 250ms;
}
#disconnect:hover{
	box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}


/****************************/
/**/
/****************************/
#wrap #right-panel{
	margin-left: 300px;
	width: 100%;
	transition: all 350ms;
	z-index: 0;
}
/**/
#chat-head{
	height: 60px;
	text-align: center;
	position: fixed;
	top: 0;left: 300px;right: 0;
	background-color: white;
	z-index: 1000;
	line-height: 60px;
	cursor: default;
	transition: all 350ms;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.5);
}
#chat-head #chat-menu{
	position: absolute;
	top: 6px;
	left: 20px;
	cursor: pointer;
}
/**/
#right-panel #chat-thread{
	padding-top: 60px;
	height: calc(100vh - 121px);
	max-height: calc(100vh - 121px);
	overflow-y: auto;
	position: relative;
	z-index: 50;
}
#popup{
	background-color: #00E676;
	width: 200px;
	height: 40px;
	line-height: 40px;
	border-radius: 40px;
	font-size: 13px;
	position: fixed;
	bottom: -80px;
	transition: all 300ms;
	left: 200px;
	right: 0px;
	margin: 0px auto;
	text-align: center;
	color: white;
	cursor: pointer;
	z-index: 50;
}
/****************************/
/**/
/****************************/
.chat-message{
	padding: 20px;
	font-size: 12px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.chat-message:nth-last-of-type(1){
	border-bottom: none;
}
.message-head span{
	color: #00E676;
	font-weight: bold;
	font-size: 14px;
}
.message-content{
	margin: 5px 0px;
	line-height: 1.5;
	font-size: 13px;
}

/****************************/
/**/
/****************************/
#right-panel #chat-bottom{
	display: flex;
	height: 60px;
	justify-content: space-between;
	position: relative;
	background-color: white;
	z-index: 100;
}
#chat-bottom #message-content{
	outline: none;
	border: none;
	padding: 22px 0px;
	padding-left: 22px;
	width: 100%;
	background-color: transparent;
	border-top: 1px solid #00E676;
}